{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'djang/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>JustGiving | HelpMore</title>
  </head>
  <body>
    <div class="bg"></div>
    <div class="banner">
      <nav><img src="https://www.jg-cdn.com/chrome/1512e535e420ee8a905d8ad330c77819.svg" alt=""></nav>
    </div>
    <div class="title">
      <div><img class="logo" src="{% static 'djang/media/woodgreen.jpg' %}" alt=""></div>
    </div>
    <div class="content">
      <div class="card">
        <form action="" method="POST" novalidate>
          {% csrf_token %}
          <h2>Select your gift amount</h2>

          {{ radio }}

          <div class="input">
            <h3 class="italic">Or, enter your own amount to help as much as possible.</h3>
            <span class="currencyinput">${{ input }}</span>
          </div>
          
          <div>
            <p><span class="highlight">JustGiving</span> won't be charging a platform fee to the charity. Adding a small contribution on top of your donation means we can continue to help more people. 
              <a href="" class="help">Find out how</a>
            </p>
            <div class="tip">
              {{ dropdown }}
            </div>
            

          </div>
          
          <div class="button">
            <input type="submit" value="Continue">
          </div>
        </form>
      </div>
      
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $('#id_my_radio label').click(function () {
        $('#id_my_radio label').removeClass('active');
        $(this).addClass('active');
      });
    </script>

    <!-- <script>
      submitForms = function(){
        console.log('ok'); //only for testing
        document.forms["firstForm"].submit();
        document.forms["secondForm"].submit();
      }
    </script> -->

  </body>
</html>