
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

:root{
    --primary: #C4C4C4;
    --secondary: #8A8383;
    --purple: #6108A7;
    --highlight: rgb(29, 102, 211);
    --textdark: #231F20;
    --black: #0F0E0E;
}
body {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
}

.bg {
    background-image: url('./media/pompom.jpg');
    background-size: cover;
    filter: blur(3px);
    height: 100%;
    width: 100%;
    position: absolute;
    outline: 1px solid red;
    z-index: -1;
}

.highlight {
 color: var(--purple);
}

h1, h2 {
    text-transform: capitalize;
    margin: 0;
    font-weight: 300;
    color: var(--textdark);
}

.title {
    display: flex;
    margin: 0 0 1rem 0;
    justify-content: center;
}

nav {
    background-color: white;
    padding: .5em;
    font-size: 1.3rem;
} nav img {
    width: 8rem;
    height: auto;
    vertical-align: middle;
    user-select: none;
}

.logo {
    object-fit: cover;
    overflow: hidden;
    width: 150px;
    margin: auto;
    padding: 0 8rem .25rem 8rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
    user-select: none;
}

.content  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 25% 0 25%;
}

.card {
    background-color: white;
    border-radius: 0 0 5px 5px;
    width: 100%;
    overflow: hidden;
    box-shadow: 7px 6px 12px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 7px 6px 12px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 7px 6px 12px 0px rgba(0,0,0,0.54);
    padding-bottom: 2rem;
} .card div {
    margin: auto;
    /* outline: 1px solid red; */
    width: 95%;
} .card p {
    background-color: rgba(29, 102, 211, .12);
    color: var(--black);
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
} .card h2 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1rem 0 .5rem 0;
}

#id_my_field {
    /* outline: 1px solid blue; */
    display: flex;
} #id_my_field div.active {
    background-color: var(--highlight);
    color: white;
} #id_my_field > div  {
    all: none;
    border: 1px solid var(--secondary);
    padding: .75em 0 .75em 0em;
    width: 18%;
    display: flex;
    text-align: center;
    padding-right: .5rem;
    justify-content: space-evenly;
    transition: .2s ease-in-out;
    cursor: pointer;
} #id_my_field label {
    text-align: left;
    /* outline: 1px solid red; */
    width: fit-content;
    margin: auto;
    padding-right: .25rem;
    user-select: none;
    cursor: pointer;
} input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.errorlist {
    list-style: none;
    color: red;
    height: 0;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

.input h3 {
    text-align: center;
    margin-bottom: .5rem;
    color: var(--secondary);
    font-weight: 300;
} .input div {
    text-align: left;
    width: 100%;  
    /* outline: 1px solid red;  */
    border-radius: 3px;
    margin: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
} .input div input[type=text] {
    width: inherit;
    height: 4rem;
    font-size: 3.5rem;
    border: none;
    margin: auto;
    color: var(--highlight);
    text-align: center;
} .input div input[type=text]:focus {
    outline: none;
}

.donation {
    border: 2px solid var(--primary);
}

.input div input[type=checkbox] {
    margin: .5rem 0 1rem -1px;
    color: var(--primary);
} .input div {
    /* margin: 1px 0 0 1px; */
    color: var(--secondary);
    padding: .25rem;
}

.button input {
    margin: 1rem 0 1rem 0;
    width: 100%;
    padding: .5rem;
    text-align: center;
    background-color: var(--highlight);
    color: white;
    font-size: 1.5rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.171);
    /* -webkit-box-shadow: 7px 6px 12px 0px rgba(0,0,0,0.54); */
    /* -moz-box-shadow: 7px 6px 12px 0px rgba(0,0,0,0.54); */
}

  @media only screen and (max-width: 1000px) {
    .card {
        width: 100%;
        margin: auto;
    }
    .media {
        width: 0;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin: auto;
        justify-content: center;
    }
}